<%= form_for(@gymnasium) do |f| %>
  <% if @gymnasium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gymnasium.errors.count, "error") %> prohibited this gymnasium from being saved:</h2>

      <ul>
      <% @gymnasium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :logo_url %><br>
    <%= f.text_field :logo_url %>
  </div>
  <div class="field">
    <%= f.label :phone_overall %><br>
    <%= f.text_field :phone_overall %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
