
<p>
  <strong>Title:</strong>
  <%= @gymnasium.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gymnasium.description %>
</p>

<p>
  <strong>Logo url:</strong><br />
  <%= image_tag(@gymnasium.logo_url, class: 'list_image') %>
</p>

<p>
  <strong>Phone overall:</strong>
  <%= @gymnasium.phone_overall %>
</p>

<p>
  <strong>Site:</strong>
  <%= @gymnasium.site %>
</p>

<%= link_to 'Edit', edit_gymnasium_path(@gymnasium) %> |
<%= link_to 'Back', gymnasia_path %>
